@charset "UTF-8";
body {
  font-family: Georgia;
}

html, body {
  height: 100%;
  font-size: 1.5rem;

          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  width: auto;
  max-width: 100%;
}

.site-header a {
  color: #333;
  font-weight: 300;
}
